{% extends "base_template.html" %}

{% block title %}
<title>Накладная {{ bill }}</title>
{% endblock %}

{% block content %}
    <h1 class="info-title">{{ bill }}</h1>
    <a class="info-title" href="{% url 'edit-bill' bill.pk %}">Изменить накладную</a>
    <a class="info-title" href="{% url 'create-goodinstance' %}">Добавить товар</a>
{% if bill.goodinstance_set.all %}
    <ul class="info-list">

    {% for good_instance in bill.goodinstance_set.all %}
    <li class="in-stock">
        <a class="info-title" href="{% url 'goodinstance-detail' good_instance.pk %}">{{ good_instance }}</a>
    </li>
        <a class="remove-link" href="{% url 'remove-good' bill.pk good_instance.pk %}">Удалить</a>
    {% endfor %}
    </ul>

    {% else %}<p class="empty-text">В этой накладной нет товаров.</p>
{% endif %}
{% endblock %}
