{% extends "base_template.html" %}

{% block title %}
<title>Избранное</title>
{% endblock %}

{% block content %}
    <h1 class="info-title">Избранное</h1>

    {% if good_list %}

        <ul class="info-list">
        {% for good in good_list %}
            <li class="{% if good.goodinstance_set.all %}in-stock{% else %}out-of-stock{% endif %} info-title">
                <a href="{% url 'good-detail' good.pk %}">{{ good }}</a>
            </li>

            <a class="remove-link" href="{% url 'remove-from-favorites' good.pk %}">Удалить из избранного</a>
            {% if user.groups.all.0.name == 'Клиенты' %}
                <a class="info-title" href="{% url 'add-to-cart' bill.pk good.pk %}">Добавить в корзину</a>
            {% endif %}
        {% endfor %}
        </ul>

    {% else %}
        <p class="empty-text">У вас нет избранных товаров.</p>
    {% endif %}
{% endblock %}
