{% extends "base_template.html" %}

{% block title %}
<title>{{ good }}</title>
{% endblock %}

{% block content %}
<h1 class="info-title"><a href="{{ good.get_absolute_url }}" target="_blank" >{{ good }}</a></h1>
    {% if good not in user.good_set.all %}
        <a class="info-title" href="{% url 'add-to-favorites' good.pk %}">Добавить в избранное</a>
    {% else %}
        <a class="info-title" href="{% url 'remove-from-favorites' good.pk %}">Удалить из избранного</a>
    {% endif %}
{% if good.goodinstance_set.all %}
    <p class="good-description">{{ good.description }}</p>
    <h3 class="good-description">{{ good.price }}р.</h3>
    <h2 class="instances-header">На складе:</h2>
    <ul class="info-list">
    {% for good_instance in good.goodinstance_set.all %}
    <li>
        <a href="{% url 'goodinstance-detail' good_instance.pk %}">{{ good_instance }}</a>
    </li>
    {% endfor %}
    </ul>
    {% else %}<p class="empty-text">На складе нет этого товара.</p>
{% endif %}
{% endblock %}

