{% extends "base_template.html" %}

{% block content %}
<div class="map-container">
    <div class="table-container">
    <table class="map">
        <thead>
        <tr>
            <th style="margin-right: 9px"></th>
            {% for row in rows %}
                <th class="row-num">{{ row.number }}</th>
                <th class="space"></th>
            {% endfor %}
        </tr>
        </thead>
    {% for section, cells in section_cells.items %}
        <tr class="map-row">
        <td class="cell-num">{{ section }}</td>
        {% for cell in cells %}
                <td
class="{% if cell.row.storage == 'HRS' %}
            {% if cell.is_empty %}
               rack-empty
            {% else %}
               rack
            {% endif %}
        {% elif cell.row.storage == 'PAL'%}
            {% if cell.is_empty %}
               pal-empty
            {% else %}
               pal
            {% endif %}
        {% else %}no-cell{% endif %}">

                    {{ cell.row.number }} {{ cell.section }} <span class="hidden">{{ cell.cell_id }}</span>
                </td>
            <td class="space"></td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>
    <iframe class="info-bar" id="info_bar" src="{% url 'cell-detail' 1 %}">
    </iframe>
</div>
{% load static %}
<script type="application/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
