* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b09980;
}

.header {
    display: flex;
    justify-content: center;
    height: 50px;
    background: #6f8f86de;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.menu-item {
    display: flex;
    list-style: none;
}

.menu-item:nth-child(1){
    right: 20px;
    position: absolute;
}

.menu-item:nth-child(2){
    right: 100px;
    position: absolute;
}

.menu-item:nth-child(3){
    right: 250px;
    position: absolute;
}

.menu-item > a, h1 > a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 45px;
}

.menu-item > a, .menu-item > p{
    color: lightgray;
}
.menu-item:hover > a{
    background: #acb689;
}

h1 a {
    color: #aa4027;
}
h1 > a:hover {
    background-color: #90b4ad;

}

.map-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.table-container{
    overflow: scroll;
}

.map {
    text-align: center;
    border: 1px solid purple;
    background-color: lightgray;
    width: 100% ;
}

.map-row, thead > tr {
    display: flex;
    width: 100%;
}
thead > tr{
    border-bottom: 4px double black;
    margin-bottom: 5px;
    background-color: lightgray;
}
th, td {
    width: 70px;
    height: 20px;
    margin-left: 2px;
}

td {
    margin-left: 2px;
    border-bottom: 1px solid #b183b3;
    justify-content: center;
}

.cell-num {
    background: #90b4ad;
    border-right: 4px double #767676;
    margin-right: 5px;
}

.rack, .pal, .rack-empty, .pal-empty {
    cursor: pointer;
}

.selected {
    box-shadow: 0px 3px 3px 5px rgba(24, 87, 168, 0.7);
    z-index: 1;
}

.rack {
    background-color: #5a9544;
}

.pal {
    background-color: #d4c17e;
}
.rack-empty, .row-num {
    background-color: #aaaaaa;
}
.pal-empty {
    background-color: #b6a38c;
}
.no-cell {
    width: 70px;
}
.space, tbody, .no-cell{
    background: lightgrey;
    border-bottom: none;
}
.space {
    width: 0px;
    margin: 0 10px;
}

.hidden {
    display: none;
}

.info-bar {
    flex-grow: 1;
    width: 100%;
    height: 400px;
}

.main {
    /*display: flex;*/
    /*flex-flow: column nowrap;*/
    /*align-items: center;*/
    margin: 0 20px;
}

.info-title, .instances-header, .good-description, .empty-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 0;
    width: 100%;
}

.empty-text {
    color: #aa4027!important;
}

.info-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 20px;
    list-style: none;
}

.instances-header {
    line-height: 40px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    background-color: #b09980;
}

form  tr {
    height: 100%;
    background-color: #b09980;
}

form th {
    line-height: 60px;
}

.in-stock, .out-of-stock {
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
    margin: 20px 0;
}
.in-stock > a{
    color: green;
    text-decoration: none;

}
.out-of-stock > a {
    color: #aa4027;
    text-decoration: none;
}

.remove-link {
    margin-top: -20px;
    margin-bottom: 10px;
    color: #0a085e;
}

.errorlist {
    color: #0600b9;
    list-style: none;
    font-size: 20px;
    margin-top: -26px;
}

